<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
</head>

<style>
body {
  background-image: url('./images/Proverbes_et_Bon_Mots_du_Reykland_small.png');
  background-size: 40em;
  background-position: top left;
}

ul {
  color: white;
  text-align: justify;
  margin: 0 auto;
  width: 38em;
  border-radius: 15px;
  background-color: rgba(0,0,0,0.7)
}

li {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 40px;
  font-size: 150%;
}

h1 {
  color: white;
  text-align: center;
  font-size: 250%;
  width: 16em;
  margin: auto;
  border-radius: 15px;
  background-color: rgba(0,0,0,0.7)
}

h2 {
  color: white;
  text-align: center;
  width: 23em;
  margin: auto;
  font-size: 180%;
  border-radius: 15px;
  background-color: rgba(0,0,0,0.7)
}

#top-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40em;
  opacity: 0.8;
}

</style>

<body>
<h1 id="top-title">Proverbes et Bons Mots du Reykland</h1>
<img id="top-image" src="./images/party_b_and_w.jpg" alt="party baby" title="that's what I call a party" />

  {{ content }}

</body>
</html>
